html,
body {
  font-family: "Sahel" !important;
  line-height: 1.62 !important;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

h1,
.h1 {
  font-size: 28px;
}

.form-control {
  padding: 4px;
  box-shadow: none;
}

.h4mainmenu {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 1.42857143;
}

.h2text {
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1;
  color: #777;
}

.footer {
  flex-shrink: none;
  background-color: #f8f9fa;
}

.wrap {
  flex: 1 0 auto;
}
